<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Cherry+Bomb+One&family=Fasthand&display=swap" rel="stylesheet">
    <title>ALL PRODUCTS</title>
</head>

<body>
  <center>
    <div id="success"> <%=success%>
    </div>
    <div id="error"><%=error%></div>
    <script type="text/javascript">window.setTimeout("document.getElementById('error').style.display='none';",2000)</script>
    <script type="text/javascript">window.setTimeout("document.getElementById('success').style.display='none';",2000)</script>
    </center>
    <div id="menu">
      <div id="menu-bar" onclick="menuOnClick()">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
      </div>
      <nav class="nav" id="nav">
        <ul class="delo">
          <li class="del"><a href="/" >logout</a></li>
          <li class="del"><a><form action="/user/<%=userid%>?_method=DELETE" method="post">
            <button id="delete" align="right">Delete Account</button>
          </form></a></li>
      
        </ul>
      </nav> 
    </div>
    <script>
      function menuOnClick() {
  document.getElementById("menu-bar").classList.toggle("change");
  document.getElementById("nav").classList.toggle("change");
  document.getElementById("menu-bg").classList.toggle("change-bg");
}
    </script>
    
    <div class="container">
    <h1 >NOTESNOOK
    <a href="/user/<%=userid%>/notes/new" id="head">Add new note</a></h1><br>
    <% if(User.note.length===0){ %>
       <p id="usermsg" align="center">
       hey!<br>
       <span id="msg2"> Write your notes &#128390;</span>
        </p>
        <% } %>
    <div >
    <ul id="list">
        <% for(let n of User.note){%>  
                  <li><a href="notes/<%= n.id %>"><%= n.title %>
                </a>
          
            </li>       
       <% }%>
    </ul>
   </div>
</div>

</body>
</html>