<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style3.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Cherry+Bomb+One&family=Fasthand&display=swap" rel="stylesheet">
    <title><%=notes.title%></title>
</head>
<body><center>
    <div id="success"> <%=success%>

    </div>
    <script type="text/javascript">window.setTimeout("document.getElementById('error').style.display='none';",2000)</script>
    <script type="text/javascript">window.setTimeout("document.getElementById('success').style.display='none';",2000)</script>
    </center>
    <h1><span id="notee"><%= notes.title%></span>
        <span id="stitle">
            <a href="/user/<%=userid%>/notes" id="home">Home</a>

            <a href="/user/<%=userid%>/notes/<%=notes.id%>/edit" id="edit" align="center">Edit</a> 
           
        </span>
    </h1>
   
   <h2><span>Category : <a href="/user/<%=userid%>/notes?category=<%= notes.category %>"><%= notes.category %></a></span>
    <form action="/user/<%=userid%>/notes/<%=notes.id%>?_method=DELETE" method="post">
        <button id="delete" align="right">Delete</button>
        </form></h2>
        </p>
       <textarea rows="25" cols="200" readonly>&nbsp;<%= notes.description %></textarea>

</body>
</html>